/*  The background for the header */
#header {
height: 400px;
width: 100%;
background-color:#f4f1ec;
background-image:url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
/* The avatar image */
#avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    position: relative;
    top: 130px;
    background-color: orange;
    z-index: 2;
    height: 100px;
  }
/* Name of the profile */
#name {
 display: block;
    text-align: center;
    line-height: 230px;
    z-index: 2;
}

.solid {
bottom: 50%;
}
.box{
  display: inline-block;
  width: 500px;
  height: 300px;
  background-color: orange;
  text-align:center;
  z-index: 1;
  margin-left: 30%;
  margin-top: 10%;
}