/* Background of new-tweet */
section.new-tweet{
    padding: 15px;
    margin:auto;
    width: 80%;
 
}
/* Text area to submit the form */
textarea{
    border-bottom: 2px solid black;
    background-color: #c549bd;
    width: 100%;
    height: 40px;
margin-bottom: 10px;
border-top: none;
border-left: none;
border-right: none;
}
/* Compose Tweet Title */

h2.composetweet{
    color: black;
    font-family: sans-serif;
}
/* What are you humming about text */
label.tweet{
color:white;
   font-size: 18px;
}

/* Tweet button to submit tweets */
button.submit{
    background-color:#4056A1;
    font-family: Bungee;
    font: 12px;
    color:white;
}
/* Number of characters for a tweet */
output.counter{
  float:right;
  font-family: Bungee;
  font-weight: 2px bold;
}


/* Tweet boxes */
.firsttweet{
    border: 2px solid black;
    padding: 15px;
    margin:auto;
    height:180px ;
    width: 80%;

}
.icons{
    float:right;
}